/* 글로벌 스타일(폰트, 레이아웃, 기본 테마 설정 */

/*0.사용하는 font 가져오기 : pretenard는 공식 CDN 제공.*/
@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "Bodoni-72-Oldstyle";
  src: url("./fonts/bodoni-72-oldstyle-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*1.기본값 제거*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/*2.CSS Variables*/
:root {
  /* 📌폰트 크기 정의 (px을 rem으로 변환) */
  --fs-h1: calc(36rem / 16); /* 36px */
  --fs-h2: calc(28rem / 16); /* 28px */
  --fs-h3: calc(22rem / 16); /* 22px */
  --fs-h4: calc(18rem / 16); /* 18px */
  --fs-body-large: calc(16rem / 16); /* 16px */
  --fs-body-small: calc(14rem / 16); /* 14px */
  --fs-caption: calc(12rem / 16); /* 12px */
  --fs-button: calc(16rem / 16); /* 16px */

  /* 📌폰트 굵기 정의 */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  --fw-h1: 700;
  --fw-h2: 600;
  --fw-h3: 600;
  --fw-h4: 500;
  --fw-body-large: 400;
  --fw-body-small: 400;
  --fw-caption: 400;
  --fw-button: 800;

  /* 📌줄 간격(Line Height) */
  --lh-h1: 120%;
  --lh-h2: 130%;
  --lh-h3: 130%;
  --lh-h4: 130%;
  --lh-body-large: 140%;
  --lh-body-small: 150%;
  --lh-caption: 150%;

  /* 📌기본 폰트 설정 */
  --font-primary: "Pretendard", sans-serif;
  --font-logo: "Bodoni-72-Oldstyle", serif;
}
